.header {
    height: 100vh;
    &_mv {
        background: #48245A;
        position: relative;
        height: 90vh;
        overflow: hidden;
        &_img01 {
            position: absolute;
            z-index: 1;
            right: 10px;
            top: 80px;
            width: 800px;
        }
        &_img02 {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.2;
            height: 100vh;
            transform: translate(30px,-30px);
        }
    }
    &_mv2 {
        position: relative;
        height: 90vh;
        overflow: hidden;
        &_bg {
            background:  linear-gradient(90deg, rgba(102,126,234,0.9),rgba(118,75,162,0.9));
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    &_logo{
        color: #fff;
        font-size: 100px;
        font-weight: bold;
        padding-top: 50px;
        position: absolute;
        z-index: 2;
        span {
            display: block;
            font-size: 20px;
        }
    }
}

.gnav {
    height: 10vh;
    border-bottom: 1px solid #aaa;
    &_lists {
        display: flex;
        justify-content: center;
    }
    &_list {
        margin-right: 30px;
        line-height: 10vh;
        a {
            color: #333;
            display: block;
            font-weight: bold;
        }
    }
    &_list:nth-last-child(1) {
        margin-right: 0;
    }
}