*, *::before, *::after {
	box-sizing: border-box;}body {
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	color: #333;
	text-size-adjust: 100%;
	}img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	}
	a {
		text-decoration: none;
	}