.btn {
    width: 400px;
    margin: 50px auto;
    margin-bottom: 0;
    a {
        border-radius: 40px;
        border: 1px solid #333;
        color: #333;
        display: block;
        @include txt;
        padding: 20px 0;
        font-size: 20px;
    }
    a:hover {
        background: #aaa;
        color: #fff;
    }
}