.works_card {
    margin-right: calc((100% - 300px*3)/2);
    margin-top: 50px;
    &:nth-child(3n){
        margin-right: 0;
    }
    &_img {
        position: relative;
    }
    &_img_inner {
        position: absolute;
        top: 10px;
        left: 12px;
    }
    &_ttl {
        @include txt;
        font-size: 20px;
    }
    &_txt {
        @include txt;
        letter-spacing: 0.1em;
    }
}

.skill_card {
    width: 480px;
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    padding: 15px;
    margin-right: calc(100% - 480px*2);
    margin-top: 40px;
    &:nth-child(2n){
        margin-right: 0;
    }
    &_ttl {
        @include txt;
        span {
            display: block;
            font-size: 50px;
            text-align: center;
        }
    }
}